@media screen and (max-width: 1160px){
    #header{
        background: url("img/header-background-small.jpg") no-repeat center top;
        background-size: 100%;
    }
    #content .row2 .bluebox-left img{
        width: 375px;
    }
    .fullbr{
        display: none;
    }
}
@media screen and (max-width: 1050px){
    #header .bottom{
        padding-top: 25px;
        width: 400px;
    }
    #header .bottom ul li{
        font-size: 18px;
    }
    #header .bottom p{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    #header .bottom .header-buttons a span{
        font-size: 17px;
        padding-top: 4px;
    }
}
@media screen and (max-width: 1000px){
    #content .row1 .flex .flextext{
        width: 85%;
        font-size: 16px;
    }
}
@media screen and (max-width: 900px){
    #content .whitebox .whitebox-left .whitebox-left-top span,
    #content .bluebox .bluebox-right .bluebox-right-top span{
        font-size: 55px;
    }
    #footer .footer-top .footer1 .opinion{
        font-size: 14px;
    }
    #footer .footer-top .footer1 .opinionauthor{
        margin-left: 0;
    }
    #footer .footer-top .footer3{
        padding-left: 25px;
    }
    #footer .footer-top .footer2 a{
        font-size: 14px;
    }
    #footer .footer-top .footer3 span{
        font-size: 14px;
    }
}

@media screen and (max-width: 850px){
    #content .whitebox .whitebox-left .whitebox-left-top span,
    #content .bluebox .bluebox-right .bluebox-right-top span{
        font-size: 40px;
    }
    #content .bluebox .bluebox-right .bluebox-right-bottom{
        font-size: 16px;
        margin-top: 25px;
        padding-right: 40px;
    }
    .whitecircleout{
        margin-right: 15px;
    }
    .bluecircleout{
        margin-right: 15px;
    }
    #content .row4 .bluebox-left{
        width: 42%;
    }
    #content .whitebox .whitebox-right{
        width: 42%;
    }
    #header{
        background: url("img/header-background-xxsmall.jpg") no-repeat left top;
    }
    #header .bottom p{
        font-weight: 400;
    }
    #header .bottom{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    #header .bottom .header-buttons a span{
        font-size: 21px;
        padding-top: 1px;
    }
} 

@media screen and (max-width: 800px){
    #content .row2 .bluebox-left img{
        width: 350px;
    }
    #content .whitebox .whitebox-right{
        padding-top: 75px;
    }
    #content .row5 .whitebox-right{
        padding-top: 125px;
    }
    #content .row4{
        height: 450px;
    }
    #header .top .header-top-right .top-buttons{
        width: 100%;
    }
    #header .top .header-top-right{
        text-align: right;
        padding-top: 0;
        width: 225px;
    }
    #header .top{
        padding-top: 20px;
    }
}
@media screen and (max-width: 750px){
    #content .whitebox .whitebox-right{
        padding-top: 90px;
    }
    #content .row5 .whitebox-right{
        padding-top: 140px;
    }
    #content .row4{
        height: 420px;
    }
    .bluecircleout,
    .whitecircleout{
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    .bluecircle,
    .whitecircle{
        width: 100px;
        height: 100px;
    }
    #content .bluebox .bluebox-right .bluebox-right-bottom{
        margin-top: 50px;
    }
}
@media screen and (max-width: 700px){
    #content .row1{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    #content .row1 .flex{
        width: 50%;
    }
    #content .row1 .flex:nth-of-type(3),
    #content .row1 .flex:nth-of-type(4){
        margin-top: 45px;
    }
    #content .row1 .flex .fleximage{
        width: 52%;
        margin-bottom: 35px;
    }
    #content .whitebox{
        height: auto;
        position: relative;
        padding-bottom: 25px;
    }
    #content .whitebox .whitebox-left{
        width: 100%;
        text-align: center;
    }
    #content .whitebox .whitebox-left .whitebox-left-top{
        margin-top: 25px;
    }
    #content .whitebox .whitebox-right{
        position: absolute;
        width: 130px;
        top: 36px;
        padding-top: 0;
        right: 30px;
    }
    #content .row5 .whitebox-left .whitebox-left-bottom{
        padding-right: 5px;
        padding-left: 5px;
    }
    #content .bluebox .bluebox-right{
        width: 100%;
        text-align: center;
    }
    #content .bluebox .bluebox-left{
        position: absolute;
        width: 130px;
        top: 30px;
        padding-top: 0;
        right: 30px;
    }
    #content .bluebox{
        height: auto;
        position: relative;
        padding-bottom: 25px;
    }
    #content .bluebox .bluebox-right .bluebox-right-top{
        margin-top: 25px;
    }
    #content .row2 .bluebox-left img{
        position: static;
    }
    #content .bluebox .bluebox-right .bluebox-right-bottom{
        padding-left: 5px;
        padding-right: 5px;
    }
    #footer .footer-top .footer1{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        float: none;
    }
    #footer .footer-top .footer1 .opinion{
        margin-bottom: 20px;
    }
    #footer .footer-top .footer2{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        float: none;
        padding-top: 40px;
    }
    #footer .footer-top .footer3{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        float: none;
        padding-top: 40px;
    }
    #footer .footer-top .footer-title{
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 600px){
    #content .whitebox .whitebox-left .whitebox-left-top span, 
    #content .bluebox .bluebox-right .bluebox-right-top span{
        font-size: 25px;
    }
}
@media screen and (max-width: 500px){
    #content .row1 .flex .flextext{
        font-size: 14px;
    }
    #header .top .header-top-right{
        width: 100%;
        text-align: center;
    }
    #header .top{
        padding-top: 10px;
    }
    #header .top .logo{
        display: block;
        margin: auto;
        width: 40%;
    }
    #header .bottom .header-buttons a span{
        font-size: 17px;
        padding-top: 4px;
    }
    #header .bottom{
        padding-top: 20px;
        padding-left: 2%;
        padding-right: 2%;
    }
    #header .bottom p{
        margin-bottom: 10px;
        font-size: 16px;
    }
    #content .whitebox .whitebox-right{
        right: 10px;
        top: 30px;
    }
    #header .top .header-top-right .top-buttons{
        padding-top: 10px;
    }
}
@media screen and (max-width: 450px){
    #header .bottom ul li{
        font-size: 16px;
        margin-left: 8px;
        padding-right: 8px;
    }
    #content .whitebox .whitebox-right{
        position: static;
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    #content .whitebox .whitebox-right img{
        width: 130px;
    }
    #content .bluebox .bluebox-left{
        position: static;
        position: static;
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    #content .bluebox .bluebox-left img{
        width: 130px;
        display: inline;
    }
}
@media screen and (max-width: 400px){
    #header .bottom .header-buttons a span{
        font-size: 15px;
        padding-top: 6px;
    }
}
@media screen and (max-width: 100px) {
    #content .bluebox{
        height: auto;
    }
    #content .bluebox .bluebox-right {
        width: 100%;
        float: left;
    }
    #content .bluebox .bluebox-left{
        width: 100%;
        float: right;
    }
    #content .row2 .bluebox-left img{
        position: static;
    }
}