/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #3e3d3b;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
div{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


/* style.css */


.clear{
    width: 100%;
    clear: both;
}
body{
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
}
#topper{
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 1;
    cursor: pointer;
    background-color: #f5412e;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 16px;
    opacity: 0.7;
    transition: padding-top 0.5s;
}
#topper:hover{
    padding-top: 10px;
    
}
.site-content{
    width: 100%;
    max-width: 1155px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}
#header{
    width: 100%;
    position: relative;
    height: 605px;
    background: url("img/header-background.jpg") no-repeat center top;
    position: fixed;
    top: 0;
    z-index: -500;
}
#header .headerbg{
    width: 100%;
    position: absolute;
    z-index: -100;
}
#header .top{
    height: 27.3%;
    width: 100%;
    padding-top: 40px;
}
#header .top .header-top-right{
    float: right;
    display: inline-block;
    padding-top: 7px;
}
#header .top .header-top-right .top-buttons{
    float: right;
    margin-left: 60px;
}
#header .top .header-top-right .text{
    padding-top: 9px;
    display: inline-block;
    color: #024283;
    font-size: 14px;
    font-family: Roboto;
}
#header .top .header-top-right .text:first-of-type{
    font-weight: 700;
}
#header .top .header-top-right .text:last-of-type{
    font-weight: 400;
}
#header .top .header-top-right .top-buttons a{
    background-color: white;
    display: inline-block;
    border-radius: 3px;
    box-shadow: -3px 4px 3px #d3d3d3;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 700;
    color: #024283;
    padding: 10px;
    padding-bottom: 9px;
    padding-right: 15px;
    border: 1px solid transparent;
}
#header .top .header-top-right .top-buttons a:hover{
    border: 1px solid #024283;
}
#header .top .header-top-right .top-buttons a img{
    display: block;
    float: left;
}
#header .top .header-top-right .top-buttons a span{
    display: block;
    float: right;
    line-height: 1;
    padding-left: 10px;
    font-size: 14px;
}
#header .top .header-top-right .top-buttons a:last-of-type span{
    padding-top: 2px;
}
#header .bottom{
    padding-top: 85px;
    width: 440px;
    float: right;
}
#header .bottom ul{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    clear: both;
}
#header .bottom ul li{
    float: left;
    font-family: Roboto;
    font-weight: 700;
    font-size: 21px;
    border-right: 1px solid #034284;
    padding-right: 16px;
    margin-left: 16px;
    line-height: 1;
    color: #034284;
}
#header .bottom ul li:first-of-type{
    margin-left: 0;
}
#header .bottom ul li:last-of-type{
    padding-right: 0;
    border-right: 0;
}
#header .bottom p{
    text-align: justify;
    font-size: 21px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 28px;
}
#header .bottom .header-buttons{
    width: 100%;
}
#header .bottom .header-buttons a{
    width: 48.9%;
    text-decoration: none;
    color: white;
    padding-top: 13px;
    padding-bottom: 10px;
    border-radius: 6px;
}
#header .bottom .header-buttons .header-buttons-img{
    width: 23%;
    float: left;
    text-align: right;
    line-height: 1;
}
#header .bottom .header-buttons a span{
    display: inline-block;
    padding-top: 1px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 21px;
}
#header .bottom .header-buttons a img{
    
}
#header .bottom .header-buttons a:first-of-type{
    float: left;
    background-color: #f5412e;
}
#header .bottom .header-buttons a:first-of-type:hover{
    background-color: #ff4a37;
    box-shadow: -3px 4px 3px #d3d3d3;
}
#header .bottom .header-buttons a:first-of-type span{
    padding-left: 10%;
}
#header .bottom .header-buttons a:last-of-type{
    float: right;
    background-color: #7d8288;
}
#header .bottom .header-buttons a:last-of-type:hover{
    background-color: #92979c;
    box-shadow: -3px 4px 3px #d3d3d3;
}
#header .bottom .header-buttons a:last-of-type span{
    padding-left: 6%;
}
#content{
    width: 100%;
    margin-top: 605px;
}
#content .row1{
    width: 100%;
    height: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: white;
}
#content .row1 .flex{
    width: 25%;
    float: left;
    cursor: pointer;
}
#content .row1 .flex .fleximage{
    text-align: center;
    line-height: 0;
    width: 61%;
    margin: 0 auto;
    border: 1px solid #024283;
    margin-bottom: 70px;
    border-radius: 50%;
}
#content .row1 .flex .fleximage img{
    max-width: 100%;
}
#content .row1 .flex .fleximage .row1hover{
    display: none;
}
#content .row1 .flex:hover .fleximage .row1normal{
    display: none;
}
#content .row1 .flex:hover .fleximage{
    border-color: #f5412e;
}
#content .row1 .flex:hover .fleximage .row1hover{
    display: inline;
}
#content .row1 .flex .flextext{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 22px;
}
#content .row1 .flex .flextext span{
    width: 100%;
    display: inline-block;
    font-weight: 700;
}
#content .bluebox{
    height: 475px;
    width: 100%;
    background-color: #024283;
}
#content .bluebox .bluebox-left{
    width: 46.3%;
    float: left;
}
#content .bluebox .bluebox-right{
    width: 53.7%;
    float: right;
}
#content .row2{
    position: relative;
}
#content .row2 .bluebox-left img{
    display: block;
    position: absolute;
    bottom: 0;
}
#content .bluebox .bluebox-right .bluebox-right-top{
    margin-top: 85px;
    display: table;
}
#content .bluebox .bluebox-right .bluebox-right-top img{
    display: inline-block;
    float: left;
    margin-right: 45px;
}
#content .bluebox .bluebox-right .bluebox-right-top span{
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 60px;
    font-family: Roboto;
    font-weight: 100;
    line-height: 1;
}
#content .bluebox .bluebox-right .bluebox-right-bottom{
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    margin-top: 50px;
    color: white;
    padding-right: 60px;
    line-height: 22px;
}
#content .whitebox{
    height: 475px;
    width: 100%;
    background-color: white;
}
#content .whitebox .whitebox-left{
    width: 54.6%;
    float: left;
}
#content .whitebox .whitebox-left .whitebox-left-top{
    margin-top: 85px;
    display: table;
}
#content .whitebox .whitebox-left .whitebox-left-top img{
    display: inline-block;
    float: left;
    margin-right: 45px;
}
#content .whitebox .whitebox-left .whitebox-left-top span{
    display: table-cell;
    vertical-align: middle;
    font-size: 60px;
    font-family: Roboto;
    font-weight: 100;
    line-height: 1;
}
#content .whitebox .whitebox-left .whitebox-left-bottom{
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    margin-top: 50px;
    line-height: 22px;
}
#content .row5 .whitebox-left .whitebox-left-bottom{
    padding-right: 50px;
}
#content .whitebox .whitebox-right{
    width: 45.4%;
    float: right;
    padding-top: 41px;
    text-align: right;
}
#content .row5 .whitebox-right{
    padding-top: 85px;
}
#content .row4 .bluebox-left{
    padding-top: 57px;
}
#footer{
    background-color: #3a3a3a;
}
#footer .footer-top{
    padding-top: 55px;
    padding-bottom: 55px;
    color: #a6a6a6;
}

#footer .footer-top .footer1{
    width: 34.4%;
    float: left;
    padding-left: 35px;
}
#footer .footer-top .footer1 .opinion{
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 40px;
}
#footer .footer-top .footer1 .opinionauthor{
    font-family: 14px;
    font-family: Roboto;
    font-weight: 900;
    color: #52d7ee;
    display: inline-block;
    margin-left: 25px;
}
#footer .footer-top .footer2{
    width: 34.6%;
    float: left;
}
#footer .footer-top .footer2 h3{
    display: inline-block;
    text-decoration: none;
    color: #a6a6a6;
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #4c4c4c;
    cursor: pointer;
    margin: 0;
}
#footer .footer-top .footer2 h3:hover{
    color: white;
}
#footer .footer-top .footer2 h3:first-of-type{
    padding-top: 0px;
    border-top: 0;
}
#footer .footer-top .footer2 a span{
    display: inline-block;
    width: 85%;
}
#footer .footer-top .footer2 a img{
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-right: 15px;
}
#footer .footer-top .footer2 div p{
    color: #a6a6a6;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
}
#footer .footer-top .footer3{
    width: 31%;
    float: left;
    padding-left: 61px;
}
#footer .footer-top .footer3 span{
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    width: 100%;
}
#footer .footer-top .footer3 .span1{
    padding-bottom: 20px;
}
#footer .footer-top .footer3 .socials{
    margin-top: 50px;
}
#footer .footer-top .footer3 .socials span{
    display: inline-block;
    width: auto;
    float: left;
    margin-right: 20px;
    padding-top: 3px;
    font-family: Roboto;
    font-weight: 900;
    color: white;
}
#footer .footer-top .footer3 .socials a{
    text-decoration: none;
}
#footer .footer-top .footer3 .socials a img{
    margin-right: 5px;
}
#footer .footer-top .footer-title{
    margin-bottom: 50px;
    font-family: Roboto;
    font-weight: 900;
    color: white;
}
#footer .footer-bottom{
    border-top: 1px solid #4c4c4c;
    color: #5f5f5f;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: Roboto;
    font-weight: 300;
}
.whitecircleout{
    width: 128px;
    height: 128px;
    margin-right: 45px;
    text-align: center;
    line-height: 128px;
    border: 2px solid rgba(255,255,255,0);
    border-radius: 100%;
    position: relative;
}
.whitecircleout .whitemouse{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.bluecircleout .whitemouse{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.whitecircle{
    width: 128px;
    height: 128px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    line-height: normal;
    
}
.whitecircle img{
    width: 100%;
}
.bluecircleout{
    width: 128px;
    height: 128px;
    margin-right: 45px;
    text-align: center;
    line-height: 128px;
    border: 2px solid rgba(255,255,255,0);
    border-radius: 100%;
    position: relative;
}
.bluecircle{
    width: 128px;
    height: 128px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    line-height: normal;
    
}
.bluecircle img{
    width: 100%;
}
.socials a .socialrwd{
    display: none;
}
.socials a:hover .socialnormal{
    display: none;
}
.socials a:hover .socialrwd{
    display: inline;
}